<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhomp.module.dao.UserDao">

    <resultMap id="UserMap" type="cn.zhomp.entity.User" autoMapping="true">

    </resultMap>

    <select id="selectUser" resultMap="UserMap">
       select * from user
    </select>


</mapper>