<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="HashMap" 				type="java.util.HashMap" />
        <typeAlias alias="String" 				type="java.lang.String" />
        <typeAlias alias="Integer" 				type="java.lang.Integer" />

        <!-- 收藏实现 start-->
        <typeAlias alias="UserVo" 	type="entity.User"/>
        <!-- 收藏实现 end-->
    </typeAliases>
</configuration>